@inherits LayoutComponentBase

@using RedditAPP.Data;
@using RedditAPP.Shared.Models;
@inject ApiService apiService


@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager



@if (posts == null)
{
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div id="posts" class="container my-5" >
        @foreach (var post in posts)
        {
            <div class="card mb-4 post-holder" @onclick="() => NavigateToPost(post.PostId)">
                <div class="card-header">
                    <h6 class="card-subtitle mb-2 text-muted">Posted by @post.AuthorName</h6>
                    <h6 class="text-muted">@post.PostDate.ToString("dd/MM/yyyy")</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Content</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-sm btn-outline-primary ms-2"
                            @onclick:stopPropagation @onclick="() => NavigateToPost(post.PostId)">
                                <i class="bi bi-chat-fill"></i> @(post.Comments.Count())
                            </button>
                            <button class="btn btn-sm btn-outline-success"
                            @onclick:stopPropagation @onclick="() => Upvote(post.PostId)">
                                <i class="bi bi-hand-thumbs-up-fill"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger ms-2"
                            @onclick:stopPropagation @onclick="() => Downvote(post.PostId)">
                                <i class="bi bi-hand-thumbs-down-fill"></i>
                            </button>
                        </div>
                        <small class="text-muted">@(post.Upvotes - post.Downvotes) Votes</small>
                    </div>
                </div>
            </div>
        }
    </div>
}


@code {
    private Post[]? posts;
    private Post? votePost;

    protected override async Task OnInitializedAsync()
    {
        posts = await apiService.GetPosts();
        apiService.RefreshRequired += this.RefreshMe;
    }

    private void NavigateToPost(int postId)
    {
        NavigationManager.NavigateTo($"/post/{postId}");
    }

    private async void Upvote(int id)
    {
        var updatedPost = await apiService.UpvotePost(id);
    }

    private async void Downvote(int id)
    {
        var updatedPost = await apiService.DownvotePost(id);
    }

    private async void RefreshMe()
    {
        posts = await apiService.GetPosts();
        StateHasChanged();
        Console.WriteLine("Refreshed");
    }
}





